<h2>Add my pet!</h2>
<form name='newPetForm'>
    <div class='form-group'>
      <label for='newPetName'>Name:</label>
      <input type='text' class='form-control' ng-model='newPet.name' placeholder='Doggo' id='newPetName' required />
    </div>
    <div class='form-group'>
        <div class='btn-group' id='newPetType'>
            <label class='btn btn-default' ng-model='newPet.type' uib-btn-radio="'cat'">Cat</label>
            <label class='btn btn-default' ng-model='newPet.type' uib-btn-radio="'dog'">Dog</label>
        </div>
    </div>
    <div class='form-group'>
        <label class='btn btn-default' for='newPetPhoto'>
        <input id='newPetPhoto' type='file' name='file' style='display:none;' onchange="$('#upload-file-info').html($(this).val());" required />
            Photo
        </label>
        <span class='label label-info' id='upload-file-info'></span>
    </div>
    <button ng-disabled='newPetForm.$invalid' class='btn btn-primary' ng-click='submitNewPet()'>Submit</button>
</form>