<div class='pet-card text-center'>
    <div class='pet-photo'>
        <a ng-href='http://www.facebook.com/dialog/send?app_id=357183271347469&amp;to={{pet.human_fbid}}&amp;link=https://columbia.pet&amp;redirect_uri=https://columbia.pet' target='_'>
            <img ng-src='{{pet.photoUrl}}' class='img-fluid img-thumbnail'>
        </a>
    </div>
<div>
    {{pet.name}}
    <span ng-click='togglefavorite(pet)' class='glyphicon' ng-class="isfavorite(pet) ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></span>
</div>

</div>