<div class='pet-card text-center'>
    <img ng-src='{{pet.photoUrl}}' class='img-responsive img-thumbnail'>
<div>
    {{pet.name}}
    <span ng-click='togglefavorite(pet)' class='heart glyphicon' ng-class="isfavorite(pet) ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></span>
    <a ng-if='pet.human_fbid' ng-href='http://www.facebook.com/{{pet.human_fbid}}' target='_'><span class='glyphicon glyphicon-comment'></span></a>
    <a ng-if='pet.human_email' ng-href='mailto:{{pet.human_email}}?Subject=I%20like%20your%20pet!' target='_'><span class='glyphicon glyphicon-envelope'></span></a>
</div>
</div>