<button ng-if='!addingPet' type='button' class='btn btn-default' ng-click='addMyPet()'>Add my pet!</button>
<div ng-if='addingPet' ng-include src="'views/addPet.html'"></div>

<div ng-if='myPets'>
    <h2>My Pets</h2>
    <pet ng-repeat='pet in myPets' pet='pet'></pet>
</div>

<div ng-if='!favorites'>
    Oh no, you don't have any favorite pets! Find some below.
</div>
<div ng-if='favorites'>
    <h2>My Favorite Pets</h2>
    <pet ng-repeat='pet in favorites' pet='pet'></pet>
</div>

<div ng-if='pets'>
    <h2>All Pets</h2>
    <pet ng-repeat='pet in pets' pet='pet'></pet>
</div>